/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-revive: 50, 92%, 98%; /* HSL values for #fefdf8 */

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 30, 86%, 68%;
    --primary-foreground: 0 0% 98%;

    --secondary: 20, 65%, 60%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 30, 86%, 68%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 20, 65%, 60%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes rotate-check {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.animate-rotate-check {
  animation: rotate-check 0.5s ease-in-out forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.falling-icon {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  animation: fall linear infinite;
  opacity: 0;
}

/* globals.css */

body {
  transition-property: opacity, background, transform;
  transition-timing-function: ease-in-out;
}

/* Keyframes for sliding in from the left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for sliding out to the right */
@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.page-transition-enter {
  animation: slideInFromLeft 0.5s forwards;
}

.page-transition-exit {
  animation: slideOutToRight 0.5s forwards;
}

.page-transition {
  background: #fefdf8;
}


/* Keyframes for sliding in the border from the left */
@keyframes slideInFromLeftBorder {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    width: 100%;
    left: 0;
    right: auto;
  }
}

/* Keyframes for sliding out the border to the right */
@keyframes slideOutToRightBorder {
  0% {
    width: 100%;
    left: 0;
    right: auto;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

.border-slide {
  position: relative;
  display: inline-block;
}

.border-slide::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px; /* Adjust the height of the border */
  width: 100%;
  background: hsl(30, 86%, 68%); /* Adjust the color of the border */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.border-slide:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  animation: slideInFromLeftBorder 0.5s forwards;
}

.border-slide:not(:hover)::after {
  animation: slideOutToRightBorder 0.5s forwards;
}
